<div class="row">
	<form class="form-horizontal">
	<fieldset class="span6">
	
	<!-- Form Name -->
	<legend>Customer Details</legend>
	
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label" for="login">Login</label>
	  <div class="controls">
	    <input id="login" name="login" type="text" placeholder="Login" class="input-large" value="<%= login %>">
	    
	  </div>
	</div>
	
	<!-- Text input-->
	<div class="control-group">
	  <label class="control-label" for="account">Account</label>
	  <div class="controls">
	    <input id="account" name="account" type="text" placeholder="Funds avaialbe" value= "<%= account %>" class="input-large">
	    
	  </div>
	</div>
	
	</fieldset>
	
			<fieldset class="span6 ">
				<legend>Payment details</legend>
				
				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="generateButton">Payee</label>
				  <div class="controls">
				    <input type="text" id="payee" name="payee" class="input input-large" value=""/>
				  </div>
				</div>
				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="amount">Amount to pay</label>
				  <div class="controls">
					<input type="number" id="amount" name="amount" class="input input-large" value=""/>
				  </div>
				</div>

				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="generateButton">Digital Payment</label>
				  <div class="controls">
				    <a id="generateButton" name="generateButton" class="btn btn-primary">Generate</a>
				  </div>
				</div>
				
			</fieldset>
		<div id="paymentContainer"></div>
	</form>
	</div>
</div>