<div class="row-fluid">
	<div>
	<form class="form-horizontal">
	<fieldset class="span6">
	
	<!-- Form Name -->
	<legend>Product Details</legend>
	
	<!-- Name input-->
	<div class="control-group">
	  <label class="control-label" for="login">Name</label>
	  <div class="controls">
	    <input id="name" name="name" type="text" placeholder="Product name" class="input-large span12" value="<%= name %>">
	    
	  </div>
	</div>
	
	<!-- Description input-->
	<div class="control-group">
	  <label class="control-label" for="account">Description</label>
	  <div class="controls">
	    <textarea class="span12" id="description" name="description" placeholder="Product description" ><%= description %></textarea>
	  </div>
	</div>
	
	<!-- Price input-->
	<div class="control-group">
	  <label class="control-label" for="account">Price</label>
	  <div class="controls">
	    <input id="price" name="price" type="text" placeholder="Product price" class="input-large span12" value="<%= price %>" />
	  </div>
	</div>

	<!-- Content input-->
	<div class="control-group">
	  <label class="control-label" for="content">Content</label>
	  <div class="controls">
	    <textarea class="span12" rows="20" id="content" name="content" placeholder="Product content" ><%= content %></textarea>
	  </div>
	</div>

	<a class="btn btn-primary" id="saveProduct">Save</a>
	</fieldset>
	
	
	
	<div class="span6">
		<div class="form-horizontal ">
			<fieldset>
				<legend>Certificate details</legend>
				
						<!-- Price input-->
				<div class="control-group">
				  <label class="control-label" for="merchant">Merchant's name</label>
				  <div class="controls">
				    <input id="merchant" name="merchant" type="text" placeholder="Merchant's name" class="input-large span12" value="" />
				  </div>
				</div>
				
				<div class="well" id="certificateContainer">
					<textarea class="span12" id="cert"> </textarea>
				</div>
				<a class="btn btn-success" id="certifyProduct">Certify</a>
			</fieldset>
		</div>
	</div>
	
	</form>
	</div>
</div>